/** Primary Input */
.primary-input {
    width: 100%;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: flex-start;
    justify-content: flex-start;

    label {
        width: 100%;
        color: #4d4d4d;

        overflow: hidden;

        font-size: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    input {
        width: 100%;
        padding: .3rem .15rem;
    
        border: solid 1px darkgray;
        border: solid 1px var(--primary, darkgray);
        border-radius: 3px;
        background-color: white;
        color: #4d4d4d;

        transition: 
            background-color .25s,
            border-color .25s;

        &:disabled {
            background-color: var(--disabled, lightgray);
            border-color: var(--disabled-active, darkgray);
        }
    }

    p {
        margin: 0;

        position: absolute;
        bottom: 0;
        left: 0;

        overflow: hidden;
        color: var(--danger, red);

        font-size: 13px;
        font-style: italic;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &.error {
        input {
            border-color: var(--danger, red);
        }
    }
}
