<div class="ModalComponent" (animationend)="animationDone($event)" (click)="onClose($event)" [ngStyle]="{ '--level': level, '--next-level': level + 1 }">
    <div class="modal" (click)="preventClick($event)">
        <button id="close" (click)="onClose($event)">x</button>
        <h1 class="title">{{ conf.title }}</h1>
        
        <p class="text" *ngFor="let text of conf.content">{{ text }}</p>

        <div class="image" *ngIf="conf.image">
            <img [src]="conf.image">
        </div>

        <div class="footer">
            <primary-button
                *ngIf="conf.onAccept"
                [id]="'general-modal-success-btn-' + level"
                [className]="'success'"
                [text]="'Aceptar'"
                [styles]="{ width: '100px', padding: '.5rem .25rem' }"
                (onClick)="onAcceptClick($event)"
            ></primary-button>

            <primary-button
                *ngIf="conf.onCancel"
                [id]="'general-modal-danger-btn-' + level"
                [className]="'danger'"
                [text]="'Cancelar'"
                [styles]="{ width: '100px', padding: '.5rem .25rem' }"
                (onClick)="onCancelClick($event)"
            ></primary-button>
        </div>
    </div>
</div>
