:host {
    // z-index: 500;
}

.ModalComponent {
    z-index: 500;
    z-index: calc(500 + var(--level, 0));
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, .3);

    animation: primaryModalFadeIn .4s;

    .modal {
        width: fit-content;
        min-width: 250px;
        max-width: 500px;
        max-width: min(500px, 90vw);
        padding: 1rem;
        padding-top: 2rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: solid 1px var(--primary);
        border-radius: 4px;
        background-color: white;
        color: #4d4d4d;

        animation: primaryModalTranslateIn .3s;
        transform: translateY(calc(-45px + calc(var(--next-level, 1) * 15px)));

        .title {
            width: 100%;
            margin: 0;

            color: var(--primary, #2b2b2b);
            font-weight: bold;
            text-align: center;
        }

        .text {
            margin: .5rem 0;
            width: 100%;
            color: #666666;
            text-align: left;
        }

        .footer {
            width: 100%;
            padding: .75rem;

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}

@keyframes primaryModalFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes primaryModalFadeOut {
    to { opacity: 0; }
}

@keyframes primaryModalTranslateIn {
    0% { transform: translateY(calc(-45px + calc(var(--level, 0) * 15px))); }
    100% { transform: translateY(calc(-45px + calc(var(--next-level, 1) * 15px))); }
}

@keyframes primaryModalTranslateOut {
    to { transform: translateY(calc(-45px + calc(var(--level, 0) * 15px))); }
}
