<div id=container (click)="hideUl()">
    <!-- <input type="text" placeholder="Search..."> -->
    <p></p>
    <div id="search" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" [(ngModel)]="filteredString" (keyup)="showList()">
        <ul id="list">
            <li  *ngFor="let char of characterList | filter:filteredString">
                <a href="/characters/{{char}}">{{char}}</a>
            </li>
        </ul>
    </div>
</div>
<ng-content  (scroll)="onScroll($event)"></ng-content>