<div id="fixedBar">
    <div>
        <a href="/characters">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5d/Genshin_Impact_logo.svg/2560px-Genshin_Impact_logo.svg.png">
        </a>
    </div>
    <div id="fixedSearch">
        <p>Search for your character!</p>
        <label for="fixedInput" (click)="showInput()">
            <mat-icon>search</mat-icon>
        </label>

        <div id="fixedDropdown" class="dropdown-content" >
            <input type="text" id="fixedInput" placeholder="Search for your character!" class="myInput" [(ngModel)]="filteredString" (keyup)="emitInput($event)" (focus)="showList(0,$event)" (blur)="hideUl(0)">

            <ul class="list">
                <li  *ngFor="let char of characterList | filter:filteredString">
                    <a href="/characters/{{char.name}}">{{char.displayName}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="stickyBar">
    <!-- <input type="text" placeholder="Search..."> -->
    <!-- <div id="logo"> -->
        <a id="logo" href="/characters">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5d/Genshin_Impact_logo.svg/2560px-Genshin_Impact_logo.svg.png">
        </a>
    <!-- </div> -->
    <div id="search" class="dropdown-content">
        <input type="text" placeholder="Search.." class="myInput" [(ngModel)]="filteredString" (keyup)="emitInput($event)" (focus)="showList(1,$event)" (blur)="hideUl(1)">
        <ul class="list">
            <li  *ngFor="let char of characterList | filter:filteredString">
                <a href="/characters/{{char.name}}">{{char.displayName}}</a>
            </li>
        </ul>
    </div>
</div>
<ng-content  (scroll)="onScroll($event)"></ng-content>