<section class="RegisterPage">
    <div class="background">
        <div class="cover"></div>
        <img class="image" src="assets/images/login_background.jpg" alt="Background" />
    </div>

    <div class="login-form">
        <div class="header">
            <img class="logo" src="assets/images/logo.png" alt="Logo" />
        </div>

        <form class="body" (submit)="onSubmit($event)">
            <input 
                type="text" 
                name="username" 
                class="main" 
                placeholder="Nombre de usuario" 
                autocomplete="off"
                [(ngModel)]="username"
            />

            <input 
                type="password" 
                name="password" 
                class="main" 
                placeholder="Contraseña" 
                autocomplete="off"
                [(ngModel)]="password" 
            />

            <input 
                type="password" 
                name="repeatedPassword" 
                class="main" 
                placeholder="Escribe otra vez la contraseña" 
                autocomplete="off"
                [(ngModel)]="repeatedPassword" 
            />

            <input type="submit" class="main btn" value="Registrarse" />
        </form>

        <div class="info">
            <span>Si ya tienes una cuenta...</span>
            <a [routerLink]="['/login']">Pulsa aquí para iniciar sesión</a>
        </div>

        <div class="footer">
            Copyright 2022 ESAIL IT SOLUTIONS. <br /> Todos los derechos reservados.
        </div>
    </div>
</section>
