// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat.core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $CeballosERP-front-primary: mat.define-palette(mat.$indigo-palette);
// $CeballosERP-front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $CeballosERP-front-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $CeballosERP-front-theme: mat.define-light-theme((
//     color: (
//         primary: $CeballosERP-front-primary,
//         accent: $CeballosERP-front-accent,
//         warn: $CeballosERP-front-warn,
//     )
// ));

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include mat.all-component-themes($CeballosERP-front-theme);



/* You can add global styles to this file, and also import other style files */
:root {
//     --primary: #669595;
//     --primary-hover: #5d8989;
//     --primary-active: #76a2a2;
//     --primary-disabled: rgba(102, 149, 149, .65);
//     --primary-light: rgba(102, 149, 149, .25);
//     --primary-dark: #344c4c;

//     --secondary: #6c757d;
//     --secondary-hover: #5a6268;
//     --secondary-active: #545b62;
//     --secondary-disabled: rgba(108, 117, 125, .65);

//     --success: #28a745;
//     --success-hover: #218838;
//     --success-active: #1e7e34;
//     --success-disabled: rgba(40, 167, 69, .65);

//     --danger: #dc3545;
//     --danger-hover: #c82333;
//     --danger-active: #bd2130;
//     --danger-disabled: rgba(220, 53, 69, .65);

    --anemo: #3f8a81;
    --anemo-background:#defffb;
    --cryo: #b1e0ff;
    --cryo-background: #b9e3ff;
    --dendro: #1d8a3e;
    --dendro-background:#e8ffb3;
    --electro: #683a74;
    --electro-background:#eebbff;
    --geo: #6a4900;
    --geo-background:#ffeec7;
    --hydro: #126c90;
    --hydro-background:#8aafbe;
    --pyro: #770000;
    --pyro-background: #ffbdbd;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

html, 
body { 
   // height: 100%; 
}

body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
img{
    max-width: 100%;
}
li,ol,ul{
    list-style: none;
}

@font-face {
    font-family: 'Russo One'; /*a name to be used later*/
    src: url('/assets/RussoOne-Regular.ttf'); /*URL to font*/
    // src:url('https://fonts.google.com/specimen/Russo+One');
}

.ANEMO{
    border-color: var(--anemo) !important;
    h1,h2{
        background-color: var(--anemo)!important;
        color:white;
    }
}
.CRYO{
    border-color: var(--cryo) !important;
    h1,h2{
        background-color: var(--cryo)!important;
        color:black;
    }
}
.DENDRO{
    border-color: var(--dendro) !important;
    h1,h2{
        background-color: var(--dendro)!important;
        color:white;
    }
}
.ELECTRO{
    border-color: var(--electro) !important;
    h1,h2{
        background-color: var(--electro)!important;
        color:white;
    }
}
.HYDRO{
    border-color: var(--hydro) !important;
    h1,h2{
        background-color: var(--hydro)!important;
        color:white;
    }
}
.PYRO{
    border-color: var(--pyro) !important;
    h1,h2{
        background-color: var(--pyro)!important;
        color:white;
    }
}
.GEO{
    border-color: var(--geo) !important;
    h1,h2{
        background-color: var(--geo)!important;
        color:white;
    }
}

body{
    background:white;
    transition: background-color .25s;
}
.GEO_bg{
    background: rgb(255,255,255);
    background: radial-gradient(circle, var(--geo-background) 0%, white 100%);
}
.ANEMO_bg{
    background: rgb(255,255,255);
    background: radial-gradient(circle, var(--anemo-background) 0%, white 100%);
}
.ELECTRO_bg{
    background: rgb(255,255,255);
    background: radial-gradient(circle, var(--electro-background) 0%, white 100%);
}
.HYDRO_bg{
    background: rgb(255,255,255);
    background: radial-gradient(circle, var(--hydro-background) 0%, white 100%);
}
.CRYO_bg{
    background: rgb(255,255,255);
    background: radial-gradient(circle, var(--cryo-background) 0%, white 100%);
}
.DENDRO_bg{
    background: rgb(255,255,255);
    background: radial-gradient(circle, var(--dendro-background) 0%, white 100%);
}
.PYRO_bg{
    background: rgb(255,255,255);
    background: radial-gradient(circle, var(--pyro-background) 0%, white 100%);
}


